/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Header */

/* Carousel */
.caro-usel img {
    height: 80vh;
    object-fit: cover;
    filter: brightness(0.5);
} 
.button {
    background: linear-gradient(180deg, #239adf, #0f74af);
    padding: .7rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    border-radius: .3em;
    border: 1px solid #358cf9;
}
.carousel-info {
    padding: 0 1.5rem;
    bottom: 200px;
}
/* Carousel end */
/* Header end */





/* Main section */

/* Courses section */
.card-img {
    height: 170px;
    object-fit: cover;
}

/* Courses section end */

/* Main section end */




/* Footer */
